/* Reset Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", Trebuchet MS, Lucida Sans Unicode, Lucida Grande,
    Lucida Sans, Arial, sans-serif;
}

:root {
  --Dark_Blue: hsl(233, 26%, 24%);
  --Lime_Green: hsl(136, 65%, 51%);
  --Bright_Cyan: hsl(192, 70%, 51%);
  --Grayish_Blue: hsl(233, 8%, 62%);
  --Light_Grayish_Blue: hsl(220, 16%, 96%);
  --Very_Light_Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --Primary_red: #ff0000;
  --sectionPadding: 2rem 3rem;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Navigation Session */
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--White);
  align-items: center;
  padding: 0.8rem 3rem;
}

nav ul {
  display: flex;
  column-gap: 3rem;
  list-style: none;
}

nav ul a {
  color: var(--Grayish_Blue);
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(to right, #13f802, #019fcb 80%);
  /* appearance: auto;
  border-width: 0;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial; */
}

/* Main Section */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dedddd;
  /* padding: 2rem 3rem; */
  padding: var(--sectionPadding);
}

main button {
  width: 7rem;
}

main img {
  width: 40%;
}

.main_txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  padding: 2rem 0;
}

/* About Session */

#about {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #2d314d;
  padding: 2rem 3rem;
}

.section_txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
}

.easyBank {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
}

.easyBank_txt {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-content: space-between;
}

.easyBank_txt img {
  width: 15%;
}

.easyBank_txt p {
  display: flex;
  width: 90%;
}

/* Article Section */

#blog {
  padding: 2rem 3rem;
}

#article_input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}

.article {
  box-shadow: 5px 5px 10px;
  border-radius: 10px 10px 0 0;
}

.article img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.article:first-child img {
  height: 68%;
}

/* Footer Section */
#foot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #2d314d;
  column-gap: 15%;
  padding: 2rem 3rem;
}

#easyBank_logo {
  filter: invert(0.1);
}

.icons {
  display: flex;
  column-gap: 1.2rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.icons a {
  color: #ffffff;
  /* text-decoration: none; */
  padding: 1.5rem 0;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about_col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.about_col a {
  /* text-decoration: none; */
  color: #ffffff;
}

.end {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: right;
  row-gap: 1.6rem;
}

#copyright {
  color: #ffffff;
}

.arrow {
  position: relative;
}

.ri-arrow-up-s-line {
  display: none;
  position: fixed;
  font-size: 1.6rem;
  bottom: 30px;
  right: 20px;
  border: 1px solid #13f802;
  border-radius: 50%;
  color: #ffffff;
  background-color: #13f802;
  cursor: pointer;
}
